<!DOCTYPE html>
<html>
  <head>
    <title>PrayerBlog</title>
    <%= csrf_meta_tags %>

<link href="https://fonts.googleapis.com/css?family=Lalezar|Open+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="sidebar">
  <h1> Praying for YOU</h1>
  <ul>
    <li><%= link_to "Home", root_path%></li>
    <%if user_signed_in?%>
    <li><%= link_to "New Prayer", new_prayer_path%></li>


    
    <%end%>
    <%if user_signed_in?%>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> <li>
    <%else%>
    <li><%= link_to('Login', new_user_session_path)  %> </li>

    <%end%>
  </ul>

</div>
  
  <div id="main-content">
  <div class="header">
  <% if current_page?(root_path) %>
         
  	<p>All Prayer</p>
  
      <% else %>
      
        <p><%= link_to "Back to All Posts", root_path %></p>
       
      <% end %>

     

 </div>
  	<div class="post_wrapper" >
    <%= yield %>
    </div>
  </div>
  </body>
</html>
